<header>
    <label class="hamburger" for="nav-toggle"></label>
    <input id="nav-toggle" type="checkbox" class="hidden" />
    <nav>
        <ul>            
            <li><img src="../../../assets/img/logo-pokebola.png" class="logo-menu"  [routerLink]="['/home']"></li>
            <li><a [routerLink]="['/ConsultarPokemon']">TYPES</a></li>
            <li><a [routerLink]="['/ConsultarPokemon']">POKEDEX</a></li>
            <li><a [routerLink]="['/home']">HOME</a></li>
        </ul>
    </nav>
</header>